.heading {
  display: none;
  font-family: "Epilogue", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.container {
  max-width: 1300px;
  padding: 10px;
  margin: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  height: 500px;
  width: 500px;
  position: relative;
  /* background-color: green; */
}

.formContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  padding: 50px;
}

.subHeading {
  font-family: "Epilogue", sans-serif;
  margin-bottom: 50px;
  /* text-align: center; */
  /* display: none; */
}

.formContainer input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  outline: none;
}

.formContainer button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    background-color: var(--primary);
  }
}

.formContainer h3 {
  font-family: "Epilogue", sans-serif;
  height: 25px;
  color: red;
}

@media screen and (max-width: 768px) {
  .heading {
    display: block;
  }

  .container {
    flex-direction: column;
    justify-content: start;
    min-height: 0;
    gap: 0;
  }

  .imgContainer {
    height: 300px;
    width: 300px;
  }

  .subHeading {
    display: none;
  }

  .formContainer {
    width: 100%;
    padding: 0 50px;
  }
}
