@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    padding: 0 150px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.logo a{
    text-decoration: none;
    color: black;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    font-size: 17px;
}

.navlink{
    list-style-type: none;
    cursor: pointer;
}

.navlink a{
    text-decoration: none;
    color: black;
    font-weight: 500;

    &:hover{
        color: rgba(107,59,255,255);
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 12px;
        overflow: hidden;
    }

    .navContainer{
        gap: 10px;
    }
}